/* css do prixe grande */
/* cores #e8e6e6 (cinza); #ffffff (branco); #000000 (preto)  */


/* altera tudo */

/* corpo */
body{
    background-color:#e8e6e6;
}

/* cabeçalho */
#header {
    width: 100%;
    height: auto;
    margin-left: 500px;
    font-weight: bold;
}
#pgs {
    margin-left: 25px;
}
 
/* conteudo */



/* rodapé */
footer{
    background-color: black;
}