/* css peixe grande correção */

/* remover margin e padding automáticos */
*{
    margin: 0%;
    padding: 0%;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif ;
    background-color: e8e6e6red;
}

/* cabeçalho */
#cabecalho  {
    /*cor temporária p visualizar melhor
    background-color: brown;  */
    height: 50px;
    width: 100%;
    /* flex box */
    display: flex;
    /* alinhar eixo Y */
    align-items: center; 
    /* alinhar eixo X */
    justify-content: right; /* end funciona também */
    /* sFelexBox e margem entre os elementos */
    gap: 20px;
}

a {
    color: black;
    text-decoration: none;
    font-weight: bold;
    /* separar as palavras 
    margin: 0px 20px;*/
}

/* banner */
#banner {
    /* organizar imagens do logo lado a lado */
    /* organizar eixo Y */
    display: flex;
}

/* distribuição imagens logo na tela */
#bannerImagem1 {
    width: 30%;
}

#bannerImagem2 {
    width: 70%;
}

/* mensagem */
#mensagem {
    font-weight: bold;
    width: 100%;
    height: 25px;
    display: flex;
    align-items: center;
}

#mensagem p {
    margin-left: 20px;
}

/* conteúdo - textos */
#textos {
    /* colocar um do lado do outro */
    display: flex;
}

.tituloTextos {
    background-color: black;
    color: white;
    padding: 10px 3%;
    width: 95%;

}
/* edição de dois elementos na div texto */
#textos p, #textos h5 {
    margin: 20px;
}

/* o width em % é relativo ao quanto ocupam na tela */
/* ocupa mais espaço na tela */
#servicos {
width: 75%;
}

/* menos espaço na tela */
#agenda {
    width: 25%;
}

/* mapa do site */
#mapa {
    background-color: rgb(236, 233, 233);
    padding: 5px 0px;
    margin: 20px;
}


/* footer */
#rodape {
    width: 100%;
    padding: 10px 0px;
    background-color: black;
    color: white;
}

#rodape p {
    margin-left: 20px;
}
